* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  background-color: #e5e5e5;
}

/* ------- navbar ------- */

.navbar {
  background-color: #0064eb;
}
.nav-center {
  padding-left: 5px;
  height: 72px;
  margin: 0 auto;
  max-width: 1366px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.search-img {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 80px;
}
.logo {
  display: block;
  margin-right: 22px;
}

/* ------- homePage ------- */

.home-page {
  margin: 0 auto;
  padding-top: 269px;
  max-width: 1366px; /* TODO: DRY*/
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-page__icon {
  width: 110px;
  height: 110px;
}
.home-page__text {
  margin-top: 24px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 140%;
  text-align: center;
  color: #808080;
  width: 193px;
}

/* ------- mainPage ------- */
.main-page {
  margin: 0 auto;
  max-width: 1366px; /* TODO: DRY*/
  padding-left: 56px;
  padding-right: 56px;
  padding-top: 28px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.main-page__user {
  width: 281px;
  margin-right: 85px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.user-img {
  margin-bottom: 28px;
}
.user-img__photo {
  border-radius: 50%;
  width: 100%;
}
.user-name {
  margin-bottom: 12px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 130%;
}
.user-link {
  margin-bottom: 25px;
  display: block;
}
.user-tracking {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.user-followers,
.user-following {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.user-followers__icon,
.user-following__icon {
  margin-right: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main-page__repos {
  width: 877px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

}
.repos-counter {
  margin-bottom: 30px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 130%
}

.repos-container {

}
.repo {
  margin-bottom: 24px;
  padding: 24px 32px;
  background-color: #ffffff;
  border-radius: 6px;
}
.repo-link {
  margin-bottom: 16px;
  text-decoration: none;
  display: block;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #0064EB;
}
.repo-description {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

/* ------- errorPage ------- */

.error-page {
  margin: 0 auto;
  max-width: 1366px;
}

/* ------- users-not-found page ------- */

/* ------- empty ------- */

.empty {
  margin-top: 200px;
  margin-left: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.empty__icon {
  margin-bottom: 24px;

}
.empty__text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 140%;
  color: #808080;
}


/* ------- search-form ------- */

.search-form {
  display: flex;
}
#search-input {
  padding-left: 44px;
  width: 500px;
  height: 40px;
  border-radius: 6px;
  border: none;
  outline: none;
}

.loading {
  margin: 0 auto;
  max-width: 1366px; /* TODO: DRY*/
  text-align: center;
  margin-top: 150px;
}

/* ------- loader ------- */
.loader {
  margin: 0 auto;
  margin-top: 40px;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (max-width: 989px){
  .main-page {
    flex-wrap: wrap;
  }
  .main-page__repos {
    margin-top: 45px;
  }
}

@media screen and (max-width: 579px) {
  #search-input {
    width: 245px;
  }
  .user-name {
    font-size: 20px;
  }
  .user-followers__text,
  .user-following__text {
    font-size: 13px;
  }
  .home-page {
    padding-top: 60px;
  }
  .empty {
    margin: 0 auto;
    margin-top: 60px;
  }
}