body {
  min-width: 320px;
  background-color: #e5e5e5;
}

/* ------- navbar ------- */

.navbar {
  background-color: #0064eb;
}
.nav-center {
  height: 72px;
  margin: 0 auto;
  max-width: 1366px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.logo {
  display: block;
}

/* ------- homePage ------- */

.home-page {
  margin: 0 auto;   
  max-width: 1366px; /* TODO: DRY*/
}

/* ------- homePage ------- */

.error-page {
  margin: 0 auto;
  max-width: 1366px;
}